{% extends "base.html" %}
{% block content %}
<section class="card">
<h2>Create Event</h2>
<form method="POST">
    <label>Event Title</label>
    <input name="title" required>

    <label>Event Type</label>
    <select name="event_type" required>
        <option>Conference</option>
        <option>Meeting</option>
        <option>Training</option>
        <option>Workshop</option>
        <option>Seminar</option>
        <option>AGM</option>
        <option>Corporate Event</option>
        <option>University Event</option>
        <option>Other</option>
    </select>

    <label>Venue</label>
    <input name="venue" value="Humphreys Hill House">

    <label>Start Date</label>
    <input type="date" name="start_date" required>

    <label>End Date</label>
    <input type="date" name="end_date" required>

    <button type="submit">Save Event</button>
</form>
</section>
{% endblock %}
